@use "../variables" as *;

.table {
  width: 100%;
  margin: $spacer 0;
  border-radius: $border-radius;
  border-collapse: collapse;
  overflow-x: auto;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
  text-align: left;
}

.table-head {
  background-color: $background-color;
  font-weight: bold;
  border-radius: $border-radius;
  color: $secondary-color;

  th {
    padding: $spacer-lg $spacer;
    font-size: $font-size-base;
  }
}

.table-cell {
  padding: $spacer-lg $spacer;
  font-size: $font-size-sm;
  color: $secondary-color;
}

.table-pagination {
  @extend %flex-center;
  justify-content: flex-end;
  margin-top: $spacer-lg;
  gap: $spacer;

  button {
    &:hover {
      background-color: $hover-color;
    }

    &:disabled {
      background-color: $disabled-color;
      cursor: not-allowed;
    }
  }

  &__info {
    font-size: $font-size-sm;
    color: $secondary-color;
    padding: $spacer $spacer;
    text-align: center;
  }
}

.table-state {
  text-align: center;
  padding: $spacer-lg;
  font-size: $font-size-lg;
  font-weight: 600;

  &__loading {
    color: $warning-color;
    animation: pulse 1s infinite;
  }

  &__error {
    color: $error-color;
  }

  &__noData {
    color: $secondary-color;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
