@use "../variables" as *;

.type-selector {
  @extend %flex-center;
  gap: $spacer;

  &__label {
    @extend %flex-center;
    gap: $spacer;
    cursor: pointer;
  }

  &__input {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 0.125rem solid $secondary-color;
    border-radius: 50%;
    outline: none;
    transition: background-color 0.3s, border-color 0.3s;

    &:checked {
      border-color: $primary-color;
      background-color: $primary-color;
    }
  }

  &__text {
    font-size: $font-size-sm;
    color: $secondary-color;
  }
}
