@use "../variables" as *;

.container {
  @extend %flex-center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: $spacer;
  margin: $spacer auto;
}

.leftSide {
  flex: 1;
  max-width: 25rem;
  @extend %flex-center;
}

.posterWrapper {
  width: 100%;
}

.posterImage {
  min-width: 16rem;
  width: 100%;
  height: auto;
  border-radius: $border-radius-lg;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border: 1px solid $border-color;
  transition: transform 0.3s, box-shadow 0.3s;

  &:hover {
    transform: scale(1.025);
    box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.3);
  }
}

.rightSide {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: $spacer;

  &__box {
    border: 1px solid $border-color;
    background-color: $background-color;
    padding: $spacer-lg;
    border-radius: $border-radius-lg;
    box-shadow: 0 0.25px 0.5px rgba(0, 0, 0, 0.1);

    > * + * {
      margin-top: $spacer;
    }
  }
}

.movieInfo {
  display: flex;
  gap: $spacer;
  font-size: $font-size-base;
}

.imdbLink {
  font-weight: 600;
  text-decoration: none;
  color: $primary-color;

  &:hover {
    text-decoration: underline;
  }
}

.loader {
  text-align: center;
  font-size: 1.5rem;
  color: $primary-color;
  margin-top: $spacer-lg;
}
