@use "../variables" as *;

.movies-page {
  &__filters {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 16px;
  }
}

.movies-table {
  &__link {
    font-size: 16px;
    text-decoration: none;
    color: $primary-color;
    display: flex;
    align-items: center;
    gap: 8px;

    img {
      border-radius: 12px;
    }
  }
}
