@use "../variables" as *;

.movies-page {
  &__filters {
    display: flex;
    flex-wrap: wrap;
    gap: $spacer;
    margin-bottom: $spacer;
  }
}

.movies-table {
  &__link {
    font-size: $font-size-base;
    text-decoration: none;
    color: $primary-color;
    @extend %flex-center;
    justify-content: flex-start;
    gap: $spacer;

    img {
      border-radius: $border-radius;
    }
  }
}
