@use "../variables" as *;

.root {
  width: 100%;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  text-align: center;
  padding: $spacer $spacer-lg;

  &__header {
    @extend %flex-center;
    justify-content: flex-start;
    gap: $spacer-lg;
  }

  &__main {
    flex-grow: 1;
    padding: $spacer 0;
  }

  &__footer {
    font-size: $font-size-sm;
    color: $secondary-color;
  }
}
